* {
	margin: 0;
	padding: 0;
   -webkit-box-sizing: border-box;
    box-sizing: border-box;

}
html{
	width: 100%
;    height: 100%;
	-webkit-text-size-adjust:none;
	-webkit-user-select:none;
	-webkit-touch-callout: none;
	 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family:"Helvetica Neue", Helvetica, STHeiTi, sans-serif,"微软雅黑";

}
body {
    width: 100%;
    height: 100%;
   -webkit-overflow-scrolling: touch;
 }
 /*16px的字体*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{
	font-size: 0.28986rem;
	font-weight: normal;
	text-indent: 0;
	background: transparent;
	vertical-align: baseline;
}
a,button,input,textarea,select{ 
	background: none; 
	-webkit-tap-highlight-color:rgba(255,0,0,0); 
	outline:none; 
	-webkit-appearance:none;
}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none; overflow:auto;}
img {border: 0； max-width: 100%!important;vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
strong {font-weight: bold;}
td, td img {vertical-align: top;}
input, select {vertical-align: middle;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
/* tables still need cellspacing="0" in the markup */
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
/* hand cursor on clickable elements */
.clickable,label,input[type=button],input[type=submit],input[type=file],button {cursor: pointer;}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}
/* make buttons play nice in IE */
button,input[type=button] {width: auto; overflow: visible;}

/* 清除浮动 */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
/* 定义盒模型为怪异和模型（宽高不受边框影响） */
.boxSiz{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/* 强制换行 */
.toWrap{
	word-break: break-all; /* 只对英文起作用，以字母作为换行依据。 */
	word-wrap: break-word; /* 只对英文起作用，以单词作为换行依据。*/
	white-space: pre-wrap; /* 只对中文起作用，强制换行。*/
}

/* 禁止换行 */
.noWrap{
	white-space:nowrap;
}

/* 禁止换行,超出省略号 */

.noWrapEllipsis{
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

/* 文字两端对齐 */

.text-justify{
	text-align:justify;
	text-justify:inter-ideograph;
}

/* 定义盒模型为 flex布局兼容写法并让内容水平垂直居中 */

.flex-center{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-o-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-o-box-align: center;
	box-align: center;
}
/*清除苹果手机下的自动添加圆角bug*/
input{
	-webkit-appearance:none;
}
/*移动rem换算px*/
@media screen and (min-width:320px) {
    html {
        font-size:42.67px
    }
}
@media screen and (min-width:360px) {
    html {
        font-size:48px
    }
}
@media screen and (min-width:375px) {
    html {
        font-size:50px
    }
}
@media screen and (min-width:414px) {
    html {
        font-size:55.2px
    }
}
@media screen and (min-width:480px) {
    html {
        font-size:64px
    }
}
@media screen and (min-width:640px) {
    html {
        font-size:85.33px
    }
}
@media screen and (min-width:750px) {
    html {
        font-size:100px
    }
}
